figcaption {
    padding-left: 3em;
    font-style: italic;
    font-size: 0.8em;
    color: darkslategray;
}
p.subtitle {
   font-size: 1.5em;
   font-style: italic;
   color: darkslategray; 
}
@font-face {
    font-family: Arial, Helvetica, sans-serif;
    src: local();
    font-display: auto;
}