{{ define "header"}}
    {{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
<div class="main-content">
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-10 error">
                <div class="mainheading">
                    <h1 class="posttitle">{{ .Title }}</h1> 
                </div>
                <div class="article-post">
                    👀 Oops! This is obviously not what you are looking for.<br>
                    Click <a href="/">here</a> to start all over again.                
                </div>
                <div><h4>Search this site:</h4></div>
                <script async src='https://cse.google.com/cse.js?cx=partner-pub-6260988440727507:2954637768'></script><div class="gcse-searchbox-only"></div>
            </div>
            <div class="col-md-1"></div>
        </div>
    </div>
</div>
{{ end }}

{{ define "footer"}}
{{ end }}