{{ define "header"}}
{{- partial "_shared/navbar.html" . -}}
{{ end }}

{{ define "main" }}
<div class="main-content">
    <header class="text-center">
        {{ with .Site.Params.index.picture }}
        <img src="{{ . | urlize | relURL }}" class="rounded-circle text-center index-image">
        {{ end }}
        <h1 class="index-title">{{ .Site.Params.index.title }}</h1>
    </header>

    <section class="text-center">
        {{ with .Site.Params.index.subtitle }}
        <h3 class="index-sub">{{ . }}</h3>
        {{ end }}
        {{ with .Site.Params.index.mdtext }}
        <h6 class="index-text">{{ . | markdownify }}</h6>
        {{ end }}
        <br />
        {{- partial "_shared/social.html" . -}}
        <br />
        <p>Get started <a href="/blog">browsing blog posts</a></p>
        <p>View my <a href="/blog/2017-08-17_upcoming-talks/">upcoming talks</a></p>
        <p>Learn more <a href="/static/about">about me</a> and view my <a
                href="/blog/2017-08-17_presentations-archive/">past presentations</a></p>
        <p>Support this site:&nbsp;<a target="_blank"
                href="https://www.amazon.com/b?_encoding=UTF8&tag=cei0e-20&linkCode=ur2&linkId=e56b56e3b8e750b6789bca30926a9f16&camp=1789&creative=9325&node=13900871">shop
                at Amazon.com</a><img src="//ir-na.amazon-adsystem.com/e/ir?t=cei0e-20&l=ur2&o=1" width="1" height="1"
                border="0" alt="" style="border:none !important; margin:0px !important;" /></p>
    </section>
    <section>
        <section class="recent-posts">
            <div class="section-title">
                <h2><span>Most Recent Posts</span></h2>
            </div>
            <div class="row listrecent">
                {{ range first 3 (.Pages.ByDate.Reverse ) }}
                {{- partial "list-partials/postbox.html" . -}}
                {{end}}
            </div>
        </section>
    </section>
</div>
{{ if isset .Site.Params.index "alertbar" }}
{{ if .Site.Params.index.alertbar }}
{{- partial "_shared/alertbar.html" . -}}
{{ end }}
{{ end }}
{{end}}

{{ define "footer" }}
{{- partial "_shared/footer.html" . -}}
{{end}}