{{ if not (.Page.Scratch.Get "__gmap") }}
{{  .Page.Scratch.Set "__gmap" 0 }}
<div class="d-none alert alert-warning" id="gmapConsent">Google Maps integration is disabled. To enable the live map preview:&nbsp;&nbsp;&nbsp;<button class="btn btn-success" data-toggle="modal" data-target="#consentModal">Show consent dialog</button></div>
{{ end }}
{{ $idg := int (.Page.Scratch.Get "__gmap") }}
{{ $idg := add $idg 1 }}
{{ $gmapid := (print "gmap" (string $idg)) }}
<div id="{{$gmapid}}">
    {{ if .Get 1 }}
    <a title="{{.Get 1}}" 
        target="_blank" 
        href="https://www.google.com/maps/search/{{ .Get 1 | safeHTML }}">
        {{ .Get 1 }}
    </a>    
  {{ end }}
  </div>
<script>
(function () {
    var src = "{{ .Get 0 | safeHTML }}";
    var div = document.getElementById("{{ $gmapid }}");
    if (window.devConsent.consent === true) {
        var config = {
            "onerror": "this.setAttribute('srcdoc', '<p>Google Maps are not available offline.</p>');this.setAttribute('onerror','');",
            "onload": "if(navigator && navigator.onLine === false) eval(this.getAttribute('onerror'));",
            "src": src,
            "width": 600,
            "height": 450,
            "frameborder": 0,
            "style": "border:0",
            "allowfullscreen": null
        };

        var iframe = document.createElement("iframe");
        for (var attr in config) {
            iframe.setAttribute(attr, config[attr]);
        }
        div.innerHTML = "";
        div.appendChild(iframe);
        {{ if .Get 1 }}
    var fig = document.createElement("figcaption");
    fig.innerText = "{{.Get 1}}";
    div.appendChild(fig);
{{ end }}
    }
    else {
        document.getElementById("gmapConsent").classList.remove("d-none");
    }
})();
</script>
{{ .Page.Scratch.Set "__gmap" $idg }}
