{{$page := .Site.GetPage (.Get 0)}}<div class="container alert alert-secondary">
    <div><a href="{{$page.RelPermalink}}" alt="{{$page.Title}}"><strong>{{ $page.Title }}</strong></a></div>
    <div class="float-left m-2">
{{ if $page.Params.image }}{{ $original := print "images/" (path.Base $page.Params.image) }}{{ $originalImg := $page.Resources.GetMatch $original }}{{ if $originalImg }}{{ $thumbnailImg := $originalImg.Fit "200x100" }}{{ printf `<img src="%s" alt="%s">` $thumbnailImg.RelPermalink $page.Title | safeHTML }}{{end}}{{end}}
    </div>
    <p><small>{{$page.Description}}</small></p>
    <div class="clearfix"></div>
</div>