<iframe src="https://www.slideshare.net/slideshow/embed_code/key/{{ .Get 0 }}" frameborder="0"
    marginwidth="0" marginheight="0" scrolling="no"
    onerror="this.setAttribute('srcdoc', '<p>Slideshare is not available offline.</p>');this.setAttribute('onerror','');"
    onload="if(navigator && navigator.onLine === false) eval(this.getAttribute('onerror'));"
    title="Slideshare"
    style="border:1px solid #CCC; border-width:1px; margin-bottom:5px; width: 740px; height: 555px;" allowfullscreen> </iframe>
<div style="margin-bottom:5px"> <strong> <a href="https://www.slideshare.net/{{ .Get 1 }}" target="_blank">Link to
            Slideshare.net</a> </strong></div>