<!-- Blog Below the Fold Display Ad -->
<ins class="adsbygoogle"
     style="display:block"
     data-ad-client="ca-pub-6260988440727507"
     data-ad-slot="6322520215"
     data-ad-format="auto"
     data-full-width-responsive="true"></ins>
<script>
     if (window.devConsent.consent === true) {
          var block = document.getElementsByTagName("ins")[0];
          var adScript = document.createElement("script");
          adScript.setAttribute("async", {});
          adScript.setAttribute("src", "https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js");
          block.parentElement.appendChild(adScript);
          (adsbygoogle = window.adsbygoogle || []).push({});
     }
</script>