<!-- Categories Jumbotron
================================================== -->
<div class="jumbotron fortags">
	<div class="d-md-flex h-100">
		<div class="col-md-12 p-5 align-self-center text-center">
			<a href="https://fundraise.michaeljfox.org/tf-2020/strengthwithparkinsons" target="_blank" title="Parkinson's Disease Research">
				Support Parkinson's Disease research
				</a>			
			{{ $randomPosts := shuffle (where .Site.Pages "Type" "blog") | first 15 }}
			{{ range $randomPosts.ByTitle }}
			<a class="mt-2 mb-2" href="{{ .Permalink }}" title="{{ .Params.description }}">{{.Title}}</a>&nbsp;
			{{ end }}			
		</div>
	</div>
</div>
